---
import { getCollection } from "astro:content";
import Hero from "@/components/Hero.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Section from "@/components/Section.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";
import Layout from "@/layouts/Layout.astro";
import { KNOWN_TECH, ABOUT_ME } from "@/consts";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Token - Astro + Tailwind Portfolio Template">
  <Hero />
  <Section
    title="My Posts"
    className={"bg-gradient-to-b from-black/70 from-[5%] to-black via-black"}
  >
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        posts.map((post) => (
          <BlogPostCard
            slug={post.id}
            title={post.data.title}
            excerpt={post.data.description}
            date={post.data.pubDate}
          />
        ))
      }
    </div>
  </Section>
  <Section title="Technologies I Know" full_screen={false}>
    <div class="w-full grid place-items-center">
      <div
        class="w-full gap-4 flex flex-wrap px-3 max-w-xl text-lg justify-center"
      >
        {KNOWN_TECH.map((x) => <Breadcrumb title={x} />)}
      </div>
    </div>
  </Section>
  <Section title="About Me">
    <div class="w-full grid place-items-center">
      <div
        class="max-w-4xl text-xl md:text-lg opacity-90 text-center justify-evenly"
      >
        <p>{ABOUT_ME}</p>
      </div>
    </div>
  </Section>
</Layout>
