---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import PROJECTS from '@/data/projects';
import { AspectRatio } from '@/components/ui/aspect-ratio';
import { Image } from 'astro:assets';
---

<Layout title="Work | Rizky Rafi Azhara">
  <div>
    <h1 class="mb-8 text-2xl font-heading sm:text-4xl">Work</h1>
    <div class="flex flex-col gap-5">
      {
        PROJECTS.map((project) => {
          return (
            <div class="border-border dark:border-darkBorder shadow-light dark:shadow-dark rounded-base border-2 bg-main p-4 sm:p-5">
              <AspectRatio
                className="border-border dark:border-darkBorder shadow-light dark:shadow-dark !-bottom-[2px] rounded-base border-2"
                ratio={16 / 9}
              >
                <Image
                  class="w-full h-full rounded-base"
                  src={project.previewImage}
                  alt={project.name}
                  widths={[240, 540, 720]}
                  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
                  loading="eager"
                  inferSize={true}
                />
              </AspectRatio>

              <div class="text-text mt-5 font-base">
                <h2 class="text-xl font-heading sm:text-2xl">{project.name}</h2>

                <p class="mt-2">{project.description}</p>

                <div class="mt-8 grid grid-cols-2 gap-5">
                  <a
                    class="border-border dark:border-darkBorder dark:bg-secondaryBlack dark:text-darkText shadow-light dark:shadow-dark cursor-pointer rounded-base border-2 bg-white px-4 py-2 text-center text-sm font-base transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none sm:text-base dark:hover:shadow-none"
                    href={project.liveLink}
                    target="_blank"
                  >
                    Visit
                  </a>
                  <a
                    class="border-border dark:border-darkBorder dark:bg-secondaryBlack dark:text-darkText shadow-light dark:shadow-dark cursor-pointer rounded-base border-2 bg-white px-4 py-2 text-center text-sm font-base transition-all hover:translate-x-boxShadowX hover:translate-y-boxShadowY hover:shadow-none sm:text-base dark:hover:shadow-none"
                    href={project.repoUrl}
                    target="_blank"
                  >
                    Github
                  </a>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
